* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:harry;
    font-size: 26px;
    background: #0B0C10;
    color: #c5c6c7;
}

/*-----------------------------------*/
/*--------------REUSEABLE---------------*/
/*-----------------------------------*/

 @font-face {
    font-family: harry;
    src: url(./vendor/fonts/HARRY.TTF);
}

 a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    text-align: center;
    font-size: 5em;
    margin-bottom: 5%;
}

.btn {
    padding: 15px 60px;
    font-size: 2.5rem;
}

/*-----------------------------------*/
/*--------------HEADER---------------*/
/*-----------------------------------*/

header {
    position: relative;
    background-image:linear-gradient(270deg, rgba(69,162,158,0.5) 0%, rgba(69,162,158,0.5) 100%), url(./source/img/hogwarts.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}

/*--------------HEADER BACKGROUND EFFECT---------------*/

header .wave {
    position: absolute;
    width: 100%;
    height: 143px;
    left: 0;
    bottom: 0;
    background: url(./source/img/wave.png);
    animation: animate 10s linear infinite;
    -webkit-animation: animate 10s linear infinite;
    -moz-animation: animate 10s linear infinite;
     -o-animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}

@-webkit-keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}

@-moz-keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}

@-o-keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}

header .wave:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 143px;
    background: url(./source/img/wave.png);
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;
    -webkit-animation:animate-reverse 10s linear infinite;
    -moz-animation:animate-reverse 10s linear infinite;
    -o-animation:animate-reverse 10s linear infinite;
}

@keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}

@-webkit-keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}

@-moz-keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}

@-o-keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}

header .wave:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 143px;
    background: url(./source/img/wave.png);
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s;
    animation: animate 20s linear infinite;
    -webkit-animation: animate 20s linear infinite;
    -moz-animation: animate 20s linear infinite;
    -o-animation: animate 20s linear infinite;
}

/*-----------------------------------*/
/*--------------NAV---------------*/
/*-----------------------------------*/

nav ul {
    display: flex;
}

nav {
    position: fixed;
    left: 0;
    top: -27%;
    z-index: 100;
}

nav ul li a img {
    transition: transform 1s;
}

nav ul li a img:hover {
    transform: translate(0px,245px);
}


/*-----------------------------------*/
/*--------------CONTENT---------------*/
/*-----------------------------------*/

.hogwarts-name h1 {
    font-size: 4em;
    text-align: center;
}

.hogwarts-name h1:first-child {
    font-size: 9em;
}

.intro {
    font-size: 1.5em;
}

.hogwarts-info {
   position: relative;
   border: 2px solid #28a745;
   background-color: #1f2833;
   padding: 1em 2em;
   margin-bottom: 3%;
   color: #c5c6c7;
   display: none;
   border-radius: 3em;
   font-size: 1.2em;
   font-weight: 600;
}

.hogwarts-info img {
    position: absolute;
    top: 0;
    left: 11em;
    opacity: 0.1;
    width: 40%;
}

.hogwarts {
    text-align: center;
    margin: 0 0 10% 0;
}

.houses-info {
    padding-top: 5%;
    background-color: #0B0C10;
    padding-bottom: 1%;
}

.house-info {
    margin-bottom: 15%;
}

.hogwarts-logo {
    width: 40%;
}
.houses-logo {
    width: 400px;
    text-align: center;
}

.hide-info p {
    font-size: 1.3em;
}

.houses-logo-gryffin {
    width: 350px;
    height: 350px;
}

.gryffindor-info {
    margin-bottom: 20%;
    display: none;
}

.gryffindor h1 {
    color: #7f0909;
    background-color: #FFC500;
    text-align: center;
    font-size: 4em;
}

.gryffindor .btn {
    color: #7f0909;
    border-color: #FFC500;
    background-color: #FFC500;
}

.gryffindor-house:hover img{
    background-image: url(./source/img/gryffindorflag.jpg);
    background-size: contain;
    border: 10px solid #7f0909;
}

.slytherin-info {
    margin-bottom: 20%;
    display: none;
}

.slytherin h1 {
    color: #0D6217;
    background-color: #AAAAAA;
    text-align: center;
    font-size: 4em;
}

.slytherin .btn {
    color: #0D6217;
    border-color: #AAAAAA;
    background-color: #AAAAAA;
}

.slytherin-house:hover img{
    background-image: url(./source/img/slytherinflag.jpg);
    background-size: contain;
    border: 10px solid #0D6217;
}

.hufflepuff-info {
    margin-bottom: 20%; 
    display: none;
}

.hufflepuff h1 {
    color: #EEE117;
    background-color: #000000;
    text-align: center;
    font-size: 4em;
}

.hufflepuff .btn {
    color: #EEE117;
    border-color: #000000;
    background-color: #000000;
}

.hufflepuff-house:hover img{
    background-image: url(./source/img/hufflepuffflag.jpg);
    background-size: contain;
    border: 10px solid #EEE117;
}

.ravenclaw-info {
    margin-bottom: 20%; 
    display: none;
}

.ravenclaw h1 {
    color: #000A90;
    background-color: #946B2D;
    text-align: center;
    font-size: 4em;
}

.ravenclaw .btn {
    color: #000A90;
    border-color: #946B2D;
    background-color: #946B2D;
}

.ravenclaw-house:hover img {
    background-image: url(./source/img/ravenclawflag.jpg);
    background-size: contain;
    border: 10px solid #000A90;
}

.house-info h1 {
    text-align: center;
    font-size : 4em;
    color: #28a745;
}

.houses img{
    border: 4px solid #28a745;
    background-color: #0B0C10;
    box-sizing: unset;
    padding: 1em;
    border-radius: 100%;
}

.break-content {
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: linear-gradient(270deg, rgba(69,162,158,0.5) 0%, rgba(69,162,158,0.5) 100%),url(./source/img/tree.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 70vh;
    width: 100%;
}

/*-----------------------------------*/
/*--------------subjects---------------*/
/*-----------------------------------*/

.subjects {
    padding-top: 3em;
}

.subject {
    text-align: center;
    line-height: 2.5em;
    transition: padding 1.5s;
}

.subject h1 {
    font-size: 1.5em;
}

.sub {
    margin-bottom: 5%;
}

.subject-icon {
    font-size: 4em;
    color:grey;
}

.subject:hover{
    border: 2px solid #c5c6c7;
    padding: 3%;
    background-color: #1f2833;
    font-size: 1.2em;
}

.subject:hover .btn {
    background: #28a745;
    color: white;
}

.subject:hover i,
.subject:hover h1 {
    color: #28a745;
}

/*-----------------------------------*/
/*--------------slide---------------*/
/*-----------------------------------*/

  .carousel-inner img {
    width: 60%;
    height: 50%;
    margin-left: 20%;
    border: 10px solid #c5c6c7;
    opacity: 0.75;
    border-radius: 5%;
  }

  .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }

  .break-content-2 {
    margin-top: 10%;
    background-image: linear-gradient(270deg, rgba(69,162,158,0.5) 0%, rgba(69,162,158,0.5) 100%),url(./source/img/quidditch.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 70vh;
    width: 100%;
  }

/*-----------------------------------*/
/*--------------admission---------------*/
/*-----------------------------------*/

.admission {
    background-color: #0B0C10;
    padding-top: 5%;
    padding-bottom: 10%;
    position: relative;
}

.extra1 {
    position: relative;
    color: #c5c6c7;
    font-size: 1.9rem;
    line-height: 1;
    border: solid 2px tomato;
    background-color: #1f2833;
    border-radius:20px;
    padding: 30px;
    margin-bottom: 10%;
}

.extra1:before {
    content: '\201C';
    color: tomato;
    display: block;
    font-size: 15rem;
    position: absolute;
    top: -25%;
    left: 0px;
    font-family: arial !important;
}

.extra1:after {
    content: '\201D';
    color: tomato;
    display: block;
    font-size: 15rem;
    position: absolute;
    bottom: -72%;
    right: 0;
    font-family: arial !important;
}

.quote h1{
    position: relative;
    color: #e74848;;
    font-size: 3rem;
    font-weight: normal;
    line-height: 1;
    border: 2px solid;
    border-radius:20px;
    padding: 2.5rem;
}

.quote h1:after {
    content:"";
    position: absolute;
    border: 2px solid #e74848;;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3;
}

.quote h1:before {
    content:"";
    position: absolute;
    width: 100px;
    border: 5px solid #0B0C10;
    bottom: -3px;
    left: 50px;
    z-index: 2;
}

.quote h4 {
    position: relative;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2em;
    padding-top: 5px;
    z-index: 1;
    margin-left:150px;
    padding-left:12px;
}

.slogan h4 {
    font-size: 1.4em;
    margin-left: 1em;
}

/*-----------------------------------*/
/*--------------FOOTER---------------*/
/*-----------------------------------*/

footer {
    position: relative;
    background-image: linear-gradient(270deg, rgba(69,162,158,0.5) 0%, rgba(69,162,158,0.5) 100%),url(./source/img/forbiddenforest.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 90vh;
    width: 100%;
}

footer .wave {
    position: absolute;
    width: 100%;
    height: 143px;
    left: 0;
    bottom:0;
    background: url(./source/img/wave.png);
}